<section>

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <%= form_for [:admin, @category] do |form|%>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.submit 'Create Category' %>
  <% end %>

  <ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
  </ul>
</section>
