<section>

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <%= form_for [:admin, @category] do |form|%>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <%= form.submit 'Create Category', class: 'btn btn-primary' %>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
      <% @categories.each do |category| %>
      <div ><%= link_to category.name, category %></div><br/>
      <% end %>
    </div>
  </div>

</section>
